.card-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5% 0.5%;
  width: 25%;
}

.movie-img {
  width: 100%;
}

.texts-container {
  color: black;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
  margin: 5%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  height: 5%;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  height: 5%;
}

.story {
  font-size: 18px;
  font-weight: 400;
  height: 30%;
  overflow-x: hidden;
  overflow-y: scroll;
}
