body {
  background-color: gray;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background: repeating-linear-gradient(black, gray, white, gray, black);
  border: 6px groove gray;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #1e1f20;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  box-shadow: inset 200px 0 50px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 5px;
  overflow: hidden;
  perspective: 200px;
  transition: 0.5s;
  width: 300px;
}

.movie-card:hover {
  box-shadow: inset 20px 0px 50px rgba(0, 0, 0, 1);
  transform: perspective(200px) rotate(-10deg);
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  color: #6c757d;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #030303;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.cubo {
  animation: loop 10s linear infinite;
  float: left;
  margin-left: 150px;
  margin-top: -60px;
  transform-style: preserve-3d;
  width: 60px;
}

.cubo img {
  opacity: 0.5;
  position: absolute;
}

.cubo img:nth-child( 1 ) {
  transform: rotateY(0deg) translateZ(50px);
}

.cubo img:nth-child( 2 ) {
  transform: rotateY(90deg) translateZ(50px);
}

.cubo img:nth-child( 3 ) {
  transform: rotateY(180deg) translateZ(50px);
}

.cubo img:nth-child( 4 ) {
  transform: rotateY(-90deg) translateZ(50px);
}

@keyframes loop {

  from {
    transform: rotateY(0deg); }

  to {
    transform: rotateY(360deg); }
}
